<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="dcw_lineitemupdateesd" frontName="dcw_lineitemupdateesd">
            <module name="Dcw_LineItemUpdateESD"/>
        </route>
    </router>
</config>
