<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Dcw\RevenueRanking\Model\ResourceModel\RevenueRanking\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">custom_product_revenue_ranking</argument>
            <argument name="resourceModel" xsi:type="string">Dcw\RevenueRanking\Model\ResourceModel\RevenueRanking</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="revenue_ranking_listing_data_source" xsi:type="string">Dcw\RevenueRanking\Model\ResourceModel\RevenueRanking\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="revenue_refresh" xsi:type="object">Dcw\RevenueRanking\Console\Command\RefreshRevenue</item>
            </argument>
        </arguments>
    </type>
</config>