<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="requestquote_edit" frontName="requestquote_edit">
            <module name="Dcw_RequestQuote"/>
        </route>
        <route id="dcwrequestquote" frontName="dcwrequestquote">
            <module name="Dcw_RequestQuote"/>
        </route>
    </router>
</config>

