<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div data-role="checkout-agreements">
    <h3>Terms and Conditions</h3>
    <div class="checkout-agreements fieldset" data-bind="visible: isVisible">
        <!-- ko foreach: agreements -->
        <!-- ko if: ($parent.isAgreementRequired($data)) -->
        <div class="checkout-agreement field choice">
            <input type="checkbox" class="checkout-agreements"
            data-bind="attr: {
                'id': $parent.getCheckboxId($parentContext, agreementId),
                'name': 'agreement[' + agreementId + ']',
                'value': agreementId
            }" />
            <label class="label" data-bind="attr: {'for': $parent.getCheckboxId($parentContext, agreementId)}">
                <span data-bind="html: checkboxText"></span>
                <a href="/terms-and-conditions" class="action action-show">
                    <span data-bind="i18n: 'Terms and condition.'"></span>
                </a>
            </label>
        </div>
        <!-- /ko -->
        <!-- ko ifnot: ($parent.isAgreementRequired($data)) -->
        <div class="checkout-agreement">
            <button type="button" class="action action-show"
                data-bind="click: function(data, event) { return $parent.showContent(data, event) }">
                <span data-bind="html: checkboxText"></span>
            </button>
        </div>
        <!-- /ko -->
        <!-- /ko -->
        <div id="checkout-agreements-modal" data-bind="afterRender: initModal" style="display: none">
            <div class="checkout-agreements-item-content"
                data-bind="html: modalContent, style: {height: contentHeight, overflow:'auto' }"></div>
        </div>
    </div>
</div>