<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Swatch renderer calls getJsonConfig() on Magento\ConfigurableProduct block (see FlooringCalculation/etc/frontend/di.xml) -->
    <type name="Magento\ConfigurableProduct\Block\Product\View\Type\Configurable">
        <plugin name="dcw_ship_region_configurable_json"
                type="Dcw\ShipRegionAvailability\Plugin\FlooringCalculation\ConfigurablePlugin"
                sortOrder="30"/>
    </type>
</config>
