<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="dcw_product_enquiry" translate="label" sortOrder="210" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Product Enquiry</label>
            <tab>dcw_store_config</tab>
            <resource>Dcw_ProductEnquiry::config</resource>
            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Product Enquiry</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="recipient_email" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Notification Recipient Email(s)</label>
                    <comment>Comma-separated list. Falls back to the store general contact email when empty.</comment>
                    <validate>validate-emails</validate>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="send_customer_acknowledgement" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Send Customer Acknowledgement Email</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="form_title" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Form Title</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="success_message" translate="label" type="textarea" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Success Message</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
