<?xml version="1.0"?>
<!--
/**
 * Copyright © FlooringInc. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="dcw_ai_content" frontName="dcw_ai_content">
            <module name="Dcw_AiContentCreator" before="Magento_Backend"/>
        </route>
    </router>
</config>
