<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<!-- ko if: (visible)-->
<div class="step-active">
    <div class="step-title" data-role="title" data-bind="i18n: 'Shipping Address'"></div>
</div>
<div class="field addresses" style="margin: 0;">
    <div class="control">
        <div class="shipping-address-items">
            <!-- ko foreach: { data: elems, as: 'element' } -->
            <!-- ko template: element.getTemplate() --><!-- /ko -->
            <!-- /ko -->
        </div>
    </div>
</div>
<!-- /ko -->
