<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <!-- Product save: set category positions after commit (runs once per save) -->
    <event name="catalog_product_save_commit_after">
        <observer name="dcw_akeneo_set_product_category_position"
                  instance="Dcw\AkeneoNewProductPosition\Observer\ProductSaveAfter"/>
    </event>
</config>
