body{
    font-family: verdana !important;
}
table th{font-family: verdana !important;}
table td{font-family: verdana !important;}
table p{font-family: verdana !important;}
table a{font-family: verdana !important;}
table span{font-family: verdana !important;}
table strong{font-family: verdana !important;}
table h1, table h2, table h3, table h4, table h5, table h6{font-family: verdana !important;}