<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <dcw_reportlogcleanup>
            <general>
                <enabled>1</enabled>
                <retention_days>30</retention_days>
            </general>
        </dcw_reportlogcleanup>
    </default>
</config>
