<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Dcw_ShipRegionAvailability::ship_region"
             title="Ship Region Availability"
             module="Dcw_ShipRegionAvailability"
             sortOrder="95"
             parent="Magento_Catalog::catalog"
             resource="Dcw_ShipRegionAvailability::ship_region"/>
        <add id="Dcw_ShipRegionAvailability::region"
             title="Regions"
             module="Dcw_ShipRegionAvailability"
             sortOrder="10"
             parent="Dcw_ShipRegionAvailability::ship_region"
             action="dcw_shipregion/region/index"
             resource="Dcw_ShipRegionAvailability::region"/>
        <add id="Dcw_ShipRegionAvailability::zip"
             title="ZIP Codes"
             module="Dcw_ShipRegionAvailability"
             sortOrder="20"
             parent="Dcw_ShipRegionAvailability::ship_region"
             action="dcw_shipregion/zip/index"
             resource="Dcw_ShipRegionAvailability::zip"/>
    </menu>
</config>
